@mixin flex-center-containers {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin media-tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin media-mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}
