.message {
    display: flex;
    position: fixed;
    z-index: 999;
    width: 200px;
    bottom: 30px;
    right: 35px;
    flex-direction: column-reverse;

    &__item {
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        color: #fff;
        font-size: 13px;
        line-height: 13px;
        border-radius: 5px;

        &_success {
            background-color: $color-correct-msg;
        }

        &_error {
            background-color: $color-error-msg;
        }
    }

    &__text-container {
        width: calc(100% - 45px);
        margin-left: 10px;
    }

    &__title {
        font-size: 1.4rem;
    }

    &__text {
        margin-top: 5px;
    }

    &__img {
        &_error {
            background-image: url('../images/icons/warning.svg');
            width: 30px;
            height: 30px;
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;
        }

        &_success {
            background-image: url('../images/icons/succes.svg');
            width: 30px;
            height: 30px;
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
