* {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.wrapper {
    position: relative;
    background-image: url('../images/img/main-bg.jpg');
}

.content {
    margin: 0 auto;
    max-width: $content-width;
    padding: 0 10px;
}

.main {
    padding-top: 60px;
}

.main-content__title {
    padding-top: 30px;
    font-size: 4rem;
    text-shadow: 1px 2px 2px $color-title-shadow;
    color: $color-orange;
}

.main-content__subtitle {
    padding-top: 20px;
    font-size: 2rem;
}
