.cards {
    display: grid;
    padding-top: 40px;
    min-height: 600px;
    grid-template-columns: minmax(100px, 25%) minmax(100px, 25%) minmax(200px, 50%);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @include media-tablet {
        grid-template-columns: repeat(2, minmax(100px, 50%));
        grid-template-rows: repeat(4, 1fr);
        min-height: 600px;
    }

    @include media-mobile {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    &__block {
        text-align: center;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__block-binary {
        grid-area: 1 / 1 / 2 / 2;
        background-color: $color-white;

        @include media-mobile {
            height: $mobile-block-height;
        }
    }

    &__block-qa {
        grid-area: 2 / 1 / 3 / 2;

        @include media-mobile {
            height: $mobile-block-height;
            grid-area: 2 / 1 / 3 / 2;
        }
    }

    &__block-js-java {
        grid-area: 1 / 2 / 3 / 3;
        display: grid;
        grid-template-rows: 1.5fr 0.5fr;

        @include media-tablet {
            grid-template-rows: repeat(2, 1fr);
        }

        @include media-mobile {
            height: 300px;
            grid-area: 3 / 1 / 5 / 2;
        }
    }

    &__block-php-about-net {
        grid-area: 1 / 3 / 3 / 5;
        display: grid;
        grid-template-rows: 0.75fr 1.25fr;

        @include media-tablet {
            grid-area: 3 / 1 / 5 / 3;
            grid-template-rows: 0.6fr 1.5fr;
        }

        @include media-mobile {
            display: grid;
            grid-template-columns: 100%;
            grid-area: 5 / 1 / 6 / 2;
            grid-template-rows: auto;
        }
    }

    &__block-php {
        grid-area: 1 / 1 / 2 / 5;

        @include media-tablet {
            grid-area: 1 / 1 / 2 / 2;
        }

        @include media-mobile {
            height: $mobile-block-height;
            grid-area: 1 / 1 / 2 / 2;
        }
    }

    &__block-about-net {
        display: grid;
        grid-area: 2 / 1 / 3 / 5;
        grid-template-columns: 1.2fr 0.8fr;

        @include media-tablet {
            grid-area: 2 / 1 / 3 / 2;
            grid-template-columns: 100%;
        }

        @include media-mobile {
            display: grid;
            grid-area: 2 / 1 / 3 / 2;
            grid-template-columns: 100%;
        }
    }

    &__block-net,
    &__block-events,
    &__block-blog,
    &__block-contact {
        @include media-mobile {
            height: $mobile-block-height;
        }
    }

    &__block-about {
        display: grid;
        grid-template-rows: 1.15fr 1.15fr 0.7fr;

        @include media-tablet {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: $mobile-block-height;
        }

        @include media-mobile {
            display: grid;
            grid-area: 2 / 1 / 3 / 2;
            grid-template-rows: auto;
        }
    }

    &__block-binary-front,
    &__block-qa-front,
    &__block-js-front,
    &__block-java-front,
    &__block-php-front,
    &__block-net-front,
    &__block-events-front,
    &__block-blog-front,
    &__block-contact-front {
        @include flex-center-containers;
        font-size: 7rem;
        color: $color-white;
        font-weight: 700;
    }

    &__block-binary-hide,
    &__block-qa-hide,
    &__block-js-hide,
    &__block-java-hide,
    &__block-php-hide,
    &__block-net-hide,
    &__block-events-hide,
    &__block-blog-hide,
    &__block-contact-hide {
        @include flex-center-containers;
        background-color: $color-white;
        padding: 10px;
        color: black;
        font-weight: 700;
        font-size: 2rem;
        line-height: 22px;
        position: absolute;
    }

    &__block-binary_content {
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
    }

    &__block-binary-front {
        background-image: url('../images/icons/Binary.svg');
        background-size: 30%;
        background-position: center;
        background-repeat: no-repeat;
        height: inherit;
        width: inherit;
        position: absolute;
        backface-visibility: hidden;
    }

    &__block-binary-hide {
        transform: rotateX(180deg);
        backface-visibility: hidden;
    }

    &__block-button {
        width: 70px;
        background-color: $color-blue;
        height: 40px;
        color: $color-white;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.6rem;
    }

    &__block-binary:hover &__block-binary_content {
        transform: rotateX(180deg);
        transition: transform 0.5s;
    }

    &__block-qa_content {
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
    }

    &__block-qa-front {
        background-color: $color-green;
        font-size: 7rem;
        font-weight: 500;
        position: relative;
        height: inherit;
        width: inherit;
        position: absolute;
        backface-visibility: hidden;
    }

    &__block-qa-hide {
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }

    &__block-qa:hover &__block-qa_content {
        transform: rotateY(180deg);
        transition: transform 0.5s;
    }

    &__block-js-front {
        background-color: $color-yellow;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 15px;
        padding-bottom: 10px;
        color: black;
        font-weight: 900;

        @include media-mobile {
            justify-content: center;
            align-items: center;
        }
    }

    &__block-js-hide {
        top: -110%;
        left: 0;
        transition: top 0.5s cubic-bezier(0.1, 0.39, 0.27, 1.35) 0.1s;
        align-items: flex-start;
    }

    &__block-js:hover &__block-js-hide {
        top: 0;
    }

    &__block-java-front {
        background-color: $color-red;
        font-size: 5rem;
        font-weight: 400;
    }

    &__block-java-hide {
        left: 0;
        bottom: -110%;
        transition: bottom 0.5s cubic-bezier(0, 0.39, 0.22, 1) 0.1s;
    }

    &__block-java:hover &__block-java-hide {
        bottom: 0;
    }

    &__block-php-front {
        background-color: $color-grey;
        font-size: 6rem;
        font-weight: 900;
        color: black;
        font-style: italic;
        letter-spacing: 0.2rem;
    }

    &__block-php-hide {
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        opacity: 0;
        transition: easy all 0.5s;
    }

    &__block-php:hover &__block-php-hide {
        opacity: 1;
    }

    &__block-net-front {
        background-color: $color-violet;
    }
    &__block-net-hide {
        top: -100%;
        left: -110%;
        transition: all 0.3s linear;
    }

    &__block-net:hover &__block-net-hide {
        left: 0;
        top: 0;
    }

    &__block-events-front {
        background-color: $color-light-blue;
        font-size: 2rem;
        font-weight: 300;
    }
    &__block-events-hide {
        display: inline;
        overflow-y: scroll;
        top: 0;
        left: -110%;
        transition: left 0.5s cubic-bezier(0.1, 0.39, 0.27, 1.35) 0.1s;
        font-size: 1.6rem;
        font-weight: 300;
    }

    &__block-events:hover &__block-events-hide {
        left: 0;
    }

    &__block-blog-front {
        background-color: $color-blue;
        font-size: 2rem;
        font-weight: 300;
    }

    &__block-blog-hide {
        display: inline;
        overflow-y: scroll;
        font-size: 1.5rem;
        top: 0;
        right: -110%;
        transition: right 0.5s cubic-bezier(0.1, 0.39, 0.27, 1.35) 0.1s;
        font-size: 1.6rem;
        font-weight: 300;
    }

    &__block-events-hide::-webkit-scrollbar,
    &__block-blog-hide::-webkit-scrollbar {
        width: 10px;
    }

    &__block-events-hide::-webkit-scrollbar-track,
    &__block-blog-hide::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px $color-scrollbar-shadow;
        border-radius: 10px;
    }

    &__block-events-hide::-webkit-scrollbar-thumb,
    &__block-blog-hide::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px $color-scrollbar-shadow-tumb;
    }

    &__block-blog:hover &__block-blog-hide {
        right: 0;
    }

    &__block-contact-front {
        background-color: $color-dark-blue;
        font-size: 2rem;
        font-weight: 300;
    }

    &__block-contact-hide {
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        opacity: 0;
        transition: easy all 0.5s;
    }

    &__block-contact:hover &__block-contact-hide {
        opacity: 1;
    }

    &__link {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.social-icons {
    display: flex;
    margin-left: 1px;
}

.social-icon {
    margin-right: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 7px;

    &__facebook {
        background: url('../images/icons/facebook.svg') no-repeat center;
        background-size: 104%;
    }

    &__instagram {
        background: url('../images/icons/instagram.svg') no-repeat center;
        background-size: 104%;
    }

    &__telegram {
        background: url('../images/icons/telegram.svg') no-repeat center;
        background-size: 104%;
    }

    &__facebook,
    &__instagram,
    &__telegram {
        &:hover {
            background-color: $color-light-grey;
            filter: invert(100%) brightness(124%) saturate(4%);
        }
    }
}
