.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    animation: anim 1s;
    animation-duration: 1s;
    background-color: $color-white;
}

@keyframes anim {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

.header-content {
    animation-duration: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo {
    width: 145px;
    height: 40px;
    background-image: url('../images/icons/binarylogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-menu {
    display: flex;
    align-items: center;

    &__bell {
        margin-top: 1px;
        margin-right: 25px;
        width: 21px;
        height: 21px;
        background-image: url('../images/icons/bell.svg');
        background-size: 100%;
        transform: scale(1);
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            filter: invert(100%) brightness(50%) saturate(4%);
        }
    }
}

.user {
    position: relative;

    &__icon {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: $color-orange;
        border-radius: 50%;
        cursor: pointer;
    }

    &__letter {
        display: inline-block;
        color: $color-white;
        font-size: 1.6rem;
        padding-bottom: 1px;
    }

    &__title {
        color: $color-grey;
        padding: 5px;
        font-size: 1.7rem;
        text-align: center;
        border-bottom: 1px solid $color-grey;
    }

    &__menu {
        margin-top: 10px;
    }

    &__menu-item {
        &:hover {
            transform: translate(3px);
            transition: all 0.3s;
            background-color: $color-light-grey;
            border-right: 2px solid $color-grey;
        }
    }

    &__menu-link {
        display: block;
        padding: 3px 0 3px 2px;
        color: $color-black;
        font-size: 1.6rem;
    }
}

.hiden-block {
    position: absolute;
    top: 30px;
    right: 0px;
    padding-top: 5px;
    display: none;

    &__content {
        padding: 10px 12px;
        min-width: 180px;
        background-color: $color-white;
        box-shadow: 2px 2px 8px $color-login-shadow;
    }
}

.header-menu__user:hover > .user__hiden-block {
    display: block;
}
